# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Large files
*.msi
*.exe
*.zip
*.tar.gz
*.dmg
*.iso
*.pkg
*.rar
*.7z
mariadb-11.7.2-winx64.msi
postgresql_installer.exe

# Additional exclusions
.git
.github
.gitlab
.gitattributes
.gitmodules
.npmrc
.yarnrc
.yarn
.pnp.*

# Large directories
node_modules/

